
{% for comment in comments['data']%}

<div class="comment-row">
    <div class="comment">
        <div class="comment-row">

            <div class="comment-column w-100 justify-content-center">
                <div class="comment-row">

                    <div class="comment-content">
                        <div class="comment-row">
                            <div class="comment-column">
                                <div class="user-info">
                                    <div class="user-image">

                                        <a href="#">
                                            {% if comment['user_image_url'] %}
                                            <img src="{{ url_for('static', filename= comment['user_image_url'] ) }}"alt="">
                                            {% else %}
                                            <img src=""alt="">

                                            {% endif %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-column w-100">

                                <div class="comment-name">
                                    <a href="/profile/{{comment['user_id']}}">
                                        {{comment['username']}}
                                    </a>
                                </div>
                                <div class="comment-time">
                                    {{comment['timestamp']}}
                                </div>
                            </div>
                            <div class="comment-column">
                                <div class="comment-row comment-toolbar flex-h-end">


                                    <a onclick="toggle_class('more-options-dropdown','show',this);">
                                        <img height="20"
                                            src=" {{ url_for('static', filename='/assets/icons/more.svg') }}">
                                    </a>

                                    <div class="more-options-dropdown">
                                        <!-- <a href="#">
                                            <div class="menu-item nav-item">ابلاغ</div>
                                        </a> -->
                                        {% if session['user_id'] == comment['user_id'] %}
                                        <!-- <hr> -->
                                        <a >
                                            <div class="menu-item nav-item" onclick = "edit_comment({{comment['comment_id']}})">تعديل</div>
                                        </a>
                                        <a>
                                            <div class="menu-item nav-item" onclick = "delete_comment({{comment['comment_id']}})">حذف</div>
                                        </a>
                                        {% endif %}

                                    </div>

                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="comment-textarea">
                            {% autoescape false %}
                            {{comment['text']}}
                            {% endautoescape %}
                        </div>
                        <div class="comment-info comment-row comment-v-center space-out">
                            <div>

                                
                                <a>
                                    <span id = "comment_{{comment['comment_id']}}">{{comment['likes_count']}}</span>
                                    <span><img src=" {{ url_for('static', filename='/assets/icons/like-outline.svg') }}"></span>
                                </a>
                            </div>

  
                        </div>
                    </div>
                </div>

               
                <div class="comment-bottom">
                    <div class="comment-utility comment-row space-out space-between">
                        <button class="icon-button {% if comment['liked']=="1" %} comment-liked {% endif %}" type="button" onClick="like_comment_toggle({{comment['comment_id']}},this)">

                            <img class="unliked" src=" {{ url_for('static', filename='/assets/icons/like-outline.svg') }}">
                            <img class ="liked" src=" {{ url_for('static', filename='/assets/icons/like-fill.svg') }}">

                        </button>

                        <!-- <button class="icon-button" type="submit"><img
                                src=" {{ url_for('static', filename='/assets/icons/comment-outline.svg') }}"></button> -->
                    </div>

                </div>
                
                <div class="comment-row replies">
                    
                        <!-- mn -->
                            <div class = "flex-column">
                                
                            </div>
                        <!-- hon -->
                </div>


            </div>
        </div>
    </div>
</div>

{% endfor %}
<!-- <hr> -->