/*General*/



@font-face {
    font-family: "The_Sans_Arabic";
    src: url("../assets/fonts/TheSansPlain.ttf");
}

@font-face {
    font-family: "The_Sans_Arabic";
    src: url("../assets/fonts/TheSansBold.otf");
    font-weight: bold;
}


* {
    font-family: The_Sans_Arabic; 
    /* font-size:16px; */
    
}

body {
    position: relative;
    margin: 0;
    /* height: 2000px; */
}
#main *{
    /* direction: rtl; */
}
/* #nav_header {
    width: 100%;
    height: 300px;
    background-color: #D5D4E0;
    
    white-space: nowrap;
    text-align: center;
} */


.expand li{
    display: block !important;
}
.shrink{

}



/* #nav_menu ul {
    padding: 0;
    width: 100%;
    margin-top: 7px;
} */

/* #nav_menu li {
    display: inline-block;
    margin: auto 30px;
    height: fit-content;
    padding: 3px 0px;
   
    border: 0px solid #1E3661;

    transition: ease-in-out 100ms;

} */

/* #nav_menu li a{
    font-size: 20px !important;
} */


a {
    text-decoration: none;
    color: #1E3661;
}

/* #nav_menu li:hover {

    border-bottom-width: 3px;
}

#nav_menu li.active {
    border: 0px solid #1E3661;
    border-bottom-width: 3px;
    font-weight: bold;
}

#nav_menu li>span {
    visibility: hidden;
}

#nav_menu li.active>span {
    visibility: visible;
} */

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* #nav_header img {
    vertical-align: middle;
    max-height: 250px;

}*/





  


    /* #nav_menu {
 
        height: 50px;
        overflow: hidden;
        transition: top .3s ease-in-out,height .3s ease-in-out;

       
    }
    #nav_menu li {
        display: none;
        position: relative;
        
    }
    #nav_menu .active{
        display: block;
        border-width: 0px !important;
      } 
      
*/      

  /*  
    #nav_menu.expand{
        height: 250px !important;
    }
    
    */
/* } */

#main{
    min-height: 100vh;

}

.page-numbers{
    width: fit-content;
    margin: auto;
    margin-bottom:20px ;

}


.page-number{
    padding: 10px;
    background-color: rgb(232, 232, 232);
    border: none;
    border-radius :0;
}
 
.page-number:hover , .active-page{
    background-color: rgb(179 177 177);
    cursor : pointer;
}
.page-number:first-of-type{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}
.page-number:last-of-type{
    border-top-right-radius: 5px;    
    border-bottom-right-radius: 5px;
    
}

a.disabled{
    background-color: rgb(193 193 193);
    color: rgb(146 146 146);
    pointer-events: none;
}


  .widget-title{
      font-size: 30px;
      font-weight: bold;
  }



  #main {
    width: 80%;
    background-color: #F7F7F7;
    /* height: 2000px; */
    height: fit-content;
    margin: auto;
    max-width: 1400px;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top-color: #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.item {
    position: relative;
    margin: auto;
    padding-top: 30px;
    width: 90%;
}
/* .card {
    height: 300px;
    background-color: white;
    margin: 30px 10px;
    border-radius: 20px;
    display: inline-block;
    overflow: hidden;

    box-shadow: 0px 4px 9px -4px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: 0px 4px 9px -4px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 4px 9px -4px rgba(0, 0, 0, 0.43);

    transition: ease-in-out 200ms;
    transform-origin: bottom;

    border: 4px solid white;
    
} */

/* .card-descriptive{
    width: 400px;
    
}
.card-brief{
    width: 200px;

}


.card:hover {
    transform: scale(1.04);
    border-width: 3px;
    border-color: #1E3661;
} */

/* .next,
.previous {
    position: absolute;
    display: inline;
    height: 66%;
    top: 25%;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    width: 70px;
}

.next:hover,
.previous:hover {
    
    background: #D5D4E0;
    
} */

/* .next>span,.previous>span{
    position: absolute;
    top: 50%;
    left: 50%;
}
.next{
    right: 0;
}
.previous{
    left: 0;
} */

/* .next>span{
    right: 0;
}
.previous>span{
    left: 0;
} */

/* .card_img>img {
    width: 100%;
    object-fit: cover;
    height: 150px;
} */

/* .card p,.widget-title {
    text-overflow: ellipsis;
    direction: rtl;
    white-space: normal;
    overflow: hidden;
    margin: 0;
    font-size:14px;
    padding: 5px 20px;

} */
iframe{
    box-shadow: 0px 4px 9px -4px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: 0px 4px 9px -4px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 4px 9px -4px rgba(0, 0, 0, 0.43);

}
/* .slider{
    width: fit-content;
    max-width: 90%;
    overflow: auto;
    overflow-y: hidden;
    margin: 0 auto;
    white-space: nowrap
} */

.slider-body::-webkit-scrollbar {
width: 9px;
height: 9px;
}
.slider-body::-webkit-scrollbar-thumb {
background: #c7ceff;
border-radius: 15px;
}
.slider-body::-webkit-scrollbar-thumb:hover{
background: #b0b9ff;
}
.slider-body::-webkit-scrollbar-track{
background: #ffffff;
border-radius: 2px;
box-shadow: inset 7px 10px 12px #f0f0f0;
}


.card-description{

}

.card-title{
    font-size:16px !important;
    font-weight: bold;
}

@media (max-width: 1200px) {
    #main{
        width: 100%;
        font-size: 12px;
    }
    .item {
        width: 100%;
    }
    .previous,.next{
        width: 30px;
    }

    .card-descriptive{
        width: 300px;
    }
    .card-brief{
      

        width: 200px;
        margin: 30px 3px;
    }
    
}


.snackbar-container{
    position: fixed;
    right: 0;
    bottom: 0;
    width:300px !important;
    height: fit-content;
    transition: all 1s ease-in-out;
    /* flex-basis: auto; */
    padding-bottom: 30px;

    
}

.snackbar-container>div.flex-row{
    margin: 5px auto;
}
.snackbar {
    display: block;
    width: 250px !important;

    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;

    z-index: 1;

    position: relative;
    font-size: 17px;
    opacity: 0;
    right: -300px;
    transition: all 1s ease-in-out;

  }
  .snackbar:hover{
      opacity:1 !important;
      transition: opacity .2s ease-in-out !important;
    }
  .snackbar.warning{
      background-color: red;
  }

  .snackbar.ok{
      
    background-color: green;
  }
  
  .snackbar.show {

    right:0;
    opacity: 0.7;
    transition: all 1s ease-in-out;
    /* animation: fade 0.5s; */
  }

  .sticky_show{
    top: 0px !important;
}
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }


.comments-top{
    padding-top:30px;
}
.hidden{
    display:none;
}
.comments-see-more{
    cursor:pointer;
}



*{
    --brief-card-width : 200px;
    --descriptive-card-width : 350px;

    --brief-card-height : 300px;
    --brief-card-drop : 50px;
    --card-button-width : 30px;
}
.card {
 
    transition: ease-in-out 200ms;
    transform-origin: bottom;

    border: 4px solid white;
    height:var(--brief-card-height);

    background-color:rgb(255, 255, 255);
    margin: 0 8px;
    flex-shrink: 0;
    border-radius:10px;
    overflow:hidden;
    box-shadow: 0px 4px 9px -4px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: 0px 4px 9px -4px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 4px 9px -4px rgba(0, 0, 0, 0.43);
    position:relative;
}

.card-brief{
    width:var(--brief-card-width) !important;
}

.card-descriptive{
    width:var(--descriptive-card-width) !important;
}
.slider-button{
    transition: all .5s ease;
    filter:opacity(0);
    height:100%;

    background-color:rgba(194, 194, 194, .6);
    width:var(--card-button-width);
    cursor:pointer;
}
.slider-button span {
    position: absolute;
    top: 42%;
    text-align: center;
    width: 100%;
    font-size: 40px;
    color: white;
}
.slider:hover .slider-button{
    filter:opacity(100);        
}

.slider-button.left{
    position:absolute;
    left: calc(-1*var(--card-button-width));
    z-index:1;
    border-radius: 0px 10px 10px 0px;
}

.slider:hover .slider-button.left{    
    left:0;
}


.slider:hover .slider-button.right{
    right:0;
}

.slider-button.right{
    right:calc(-1*var(--card-button-width));
    position:absolute;
    border-radius: 10px 0px 0px 10px;
}
.slider{
    overflow-x: hidden;
    overflow-y:visible;
    position: relative;
    width:100%;
    height:calc(70px + var(--brief-card-height));
   
    justify-content: space-between;
}
.slider-body{
    height: calc(40px + var(--brief-card-height));
    overflow: hidden;
    overflow-x: scroll;
    flex-flow: nowrap;
    padding-bottom: 30px;
    width: 100%;
    padding-bottom: 0px;
    padding-top: 12px;
}
.slider-body>div{
   display:inline-block; 
}

.card-image{
    width:100%;
    height:150px;
    background-color: blue;
    transition: all .7s ease;
}
.card-image img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.card-content{
    justify-content:space-between;
    width:100%;
    height:calc(200px);
    direction:rtl;
    transition: all .3s ease;
    position: absolute;
    bottom: calc(-1*var(--brief-card-drop));
    
    background: rgb(255, 255, 255);
   
}

.card:hover .card-content,.card:last-child .card-content{
    bottom: 0;
    box-shadow: 0px -4px 9px -4px rgba(0, 0, 0, 0.83);

}


.card:hover .card-image,.card:last-child .card-image{
    height:130px;
    filter: blur(2px);
}

.card:hover{
    transform: scale(1.04);
    border-width: 3px;
    border-color: #1E3661;
}

.slider-card-title{
    font-size: 16px;
    padding:5px;
    max-height: 140px;
    /* overflow: hidden; */
    height: fit-content;
}

.slider-card-title p{
    margin: 2px;
}
.widget-title{
    direction: rtl;
    font-size:20px;
    font-weight: bold;

}
.widget-title a{
    margin: 10px;

}

.card-button{
    background-color: #1E3661;
    color:white;
    display: block;
    width: fit-content;
    padding: 5px 16px;
    margin: auto auto 14px;
    border-radius: 10px;
    font-size: 14px;
    transition: all 0.5s ease;
}

.card-button:hover{
    background-color: #2b4e8f;

}



.slider-card-description {
    /* background-color: antiquewhite; */
    height: 100%;
    font-size: 14px;
    overflow: hidden;
    color: #415e94;
    padding: 0px 5px 5px 5px;
}