


{% assets "general.css" %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}
{% assets "home.css" %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %} 
{% assets "flex.css" %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %} 
{% assets "slider.js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{% assets "snackbar.js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}

{% assets "general.js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{% assets "requests.js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}

<script src="../static/modules/Sortable-1.13.0/Sortable.js"></script>
{% assets "ckeditor.css" %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %} 
{% assets "form.css" %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %} 
{% assets "nav.css" %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %} 
{% assets "media.css" %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %} 
{% assets "posts.css" %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %} 

{% assets "ckeditor.js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{% assets "ckeditor.css" %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %} 


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- TODO to be cookied  v -->
<script>
    let USER_TOKEN = "{{session['session_id']}}";
    let USER_ID = {{session['user_id']}};
</script>

<script>
    console.log(USER_TOKEN)    
</script>