{% for item in widgets_list %}
<div class="item  {% if editor_mode %} content hide {% endif %}" {% if editor_mode %} style="width: 90%;"{% endif %}>
    {% if editor_mode %} 
    <button class="collapsible toolbar"><span class="handle toolbar-item"><img src="static//assets/icons/move.svg"></span><span class="toolbar-item"><img src="static//assets/icons/delete.svg"></span></button>  
    {% endif %}


{% if item.type == "slider" %}

    {% include 'utility/fake_cards.html' %}


{% elif item.type == "post" %}
<div class="editor ck-content">
{% autoescape false %}                     
{{item.code_block}}
{% endautoescape %} 
</div>
{% elif item.type == "embeded" %}
    {% autoescape false %}                     
    {{item.code_block}}
    {% endautoescape %} 
{% endif %}
</div>
{% endfor %}