<div class="flex-column rtl">
    {% for post in posts['data'] %}
    <div href="#" class="post-card flex-row flex-h-start">
        <div class="post-image post-card-item flex-column ">
            <a href="/posts/{{parse_out(post['title'])}}">

                <!-- <img src="{{ url_for('static', filename=post['image_url']) }}" alt="" onerror="this.style.display='none'"> TODO Add Alt -->
                <img src="/{{post['image_url']}}" alt="" onerror="this.style.display='none'"> <!-- TODO Add Alt-->


            </a>
        </div>

        <div class="post-card-info post-card-item flex-column ">

            <div class="flex-column">
                <div class="flex-row post-card-title"><a href="/posts/{{parse_out(post['title'])}}">{{post['title']}}</a></div>
                
                <div class="flex-row post-card-tiny-text post-card-description">
{% autoescape false %}
{{post['description']}}
{% endautoescape %}
                </div>

                <div class="flex-row post-card-tiny-text flex-warp tag-box">
                    
                    {% for tag in post['tags'] %}
                    <a href="/tags/{{parse_out(tag)}}">{{tag}}</a>
                    {% endfor %}
                </div>

            </div>
            <div class="flex-column h-100 flex-v-end">
                <div class="flex-row flex-h-end">
                    <div class="flex-row post-card-tiny-text w-fit">عدد السجلات 5</div>
                    <div class="flex-row post-card-tiny-text w-fit">عدد الاستماعات 500</div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


   
    {% set pages = posts['pages'] %}
    {% include 'page_numbers.html' %}


</div>