<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="../static/modules/Sortable-1.13.0/Sortable.js"></script>
    <!-- <link rel="stylesheet" href="../static/modules/Sortable-1.13.0/st/theme.css"> -->
<style>
    .handle{
        cursor:grab;
    }
</style>
</head>


<body>
    <div id="i">
        <div><span class="handle">#        </span>Item 1</div>
        <div><span class="handle">#        </span>Item 2</div>
        <div><span class="handle">#        </span>Item 3</div>

    </div>

    <script>
        var el = document.getElementById('i');
        var sortable = new Sortable(el, {
    animation: 150,
    handle: '.handle', // handle's class

    ghostClass: 'blue-background-class'
});
    </script>
</body>

</html>