.post-card{
    height: 300px;
    width: 60%;
    background: white;
    margin:20px auto;
    border-radius:10px;
    overflow:hidden;
    transition: all .2s ease-in-out;
    /* border: 1px solid snow; */
    -webkit-box-shadow: 0px 9px 12px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 9px 12px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 9px 12px -15px rgba(0, 0, 0, 0.75);
}

.post-card:hover{
    -webkit-box-shadow: 0px 9px 12px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 9px 12px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 9px 12px -10px rgba(0, 0, 0, 0.75);
    transition: all .2s ease-in-out;
    /* cursor: pointer; */
}
.post-image{
    height:300px;
    width:200px;
}
.post-image img{
    height:300px;
    width:200px;
    object-fit: cover;
}
.post-card-info{
    margin:0 10px;
    padding:20px 0;
    padding-right: 10px;
}

.post-card-title{
    font-size:16px;
    font-weight:bold;
}
.post-card-tiny-text{
    font-size:12px;
    max-height: 100px;
    overflow:hidden;
    margin-left:  10px;


}
.post-card-description{
    width:75%;
}


  /* The container */
  .tag-container {
    display: block;
    position: relative;
    margin: 0 4px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .tag-container input {
    /* position: absolute; */
    display: none;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
        font-size:16px;

      transition: all 0.5s ease;
  
      position: relative;
      top: 0;
      left: 0;
      height: 25px;
      width: fit-content;
      background-color: #c5c5c5;
      color:white;
      border-radius: 10px;
      direction: rtl;
      padding: 0px 10px 0 10px;
  }
  
  /* On mouse-over, add a grey background color */
  .tag-container:hover input ~ .checkmark {
    background-color: #ccc;
  
  }
  
  /* When the checkbox is checked, add a blue background */
  .tag-container input:checked ~ .checkmark {
    background-color: #676262;
    padding: 0px 10px 0 30px;
  
  }
  
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .tag-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .tag-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    
  }

  .post-card-tag-box{
      overflow-x:scroll;
  }

.tag-box{
    margin: auto;
    max-width:800px;
    width:90%;
}

.tag-box a{
    background-color: #c5c5c5;
    margin: 3px 5px;
    padding: 3px 14px;
    border-radius: 15px;
}

.tag-box a:hover{
    background-color: #ccc;

}


.liked{
    display: none;
}

.unliked{
    display: block;
}

.comment-liked .liked,.post-liked .liked{
    display: block;
}

.comment-liked .unliked,.post-liked .unliked{
    display: none;
}
@media (max-width: 1200px) {
    .post-card{
        height: 250px;
        width:95%;
        margin:10px auto;

    }

    .post-card-title{
        font-size:12px;
    }

    .post-image{
        height:250px;
        width:250px;
    }


    .post-image img{
        height:250px;
        width:150px;
    }
    .post-card-description{
        width:90%;
    }
    .post-card-tiny-text{

        font-size:10px;
        max-height: 70px;

    }

    .new-comment>.comment-row{
        flex-direction: column;
    }

    .new-comment>.comment-row>.comment-column:last-child{
    align-items: flex-end;
    }
}

